In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
df = pd.read_csv('weather_all.csv')
# df.isnull().sum()
df

,Unnamed: 0,NewDate,NewHour,Date,ObsTime,StationID,Temperature,RH,WS,Precp,UVI
0,0,2017-01-01,01:00:00,2017/01/01,1,466910,13.5,96,4.3,T,0
1,1,2017-01-01,02:00:00,2017/01/01,2,466910,13.4,95,3.5,T,0
2,2,2017-01-01,03:00:00,2017/01/01,3,466910,13.6,94,4.3,0.1,0
3,3,2017-01-01,04:00:00,2017/01/01,4,466910,13.7,94,5.1,T,0
4,4,2017-01-01,05:00:00,2017/01/01,5,466910,13.8,94,4.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
978235,978235,2022-07-31,20:00:00,2022/07/31,20,C1A730,...,...,...,...,...
978236,978236,2022-07-31,21:00:00,2022/07/31,21,C1A730,...,...,...,...,...
978237,978237,2022-07-31,22:00:00,2022/07/31,22,C1A730,...,...,...,...,...
978238,978238,2022-07-31,23:00:00,2022/07/31,23,C1A730,...,...,...,...,...
978239,978239,2022-07-31,00:00:00,2022/07/31,24,C1A730,...,...,...,...,...

In [4]:
# 捨棄時間有問題的資料集
bad_data = ['C0A770','C0AH70','C1AI50','C0A9A0','C0A9E0','C0A9G0','C1A730']
for n in bad_data:
    bdf = df[df.StationID == n].index
    df.drop(bdf, inplace=True)

In [ ]:
df

In [5]:
df[['yy','mm','dd']] = df.NewDate.str.split('-',expand=True)
df = df.reindex(columns = ['NewDate','NewHour','yy','mm','dd','ObsTime','StationID','Temperature','RH','WS','Precp','UVI'])
df.head()

,NewDate,NewHour,yy,mm,dd,ObsTime,StationID,Temperature,RH,WS,Precp,UVI
0,2017-01-01,01:00:00,2017,01,01,1,466910,13.5,96,4.3,T,0
1,2017-01-01,02:00:00,2017,01,01,2,466910,13.4,95,3.5,T,0
2,2017-01-01,03:00:00,2017,01,01,3,466910,13.6,94,4.3,0.1,0
3,2017-01-01,04:00:00,2017,01,01,4,466910,13.7,94,5.1,T,0
4,2017-01-01,05:00:00,2017,01,01,5,466910,13.8,94,4.0,0.0,0

In [ ]:
# 石牌測站 C0AI40 繼承 C0A9B0
df[(df.yy == '2019') & (df.StationID == 'C0AI40')]

In [6]:
# 石牌測站 C0AI40 繼承 C0A9B0
# 捨棄 2019/09 以後的 C0A9B0
year = ['2020','2021','2022']
for i in year:
    bdf1 = df[(df.yy == i) & (df.StationID == 'C0A9B0')].index
    df.drop(bdf1, inplace=True)
    
month = ['09','10','11','12']
for m in month:
    bd = df[(df.yy == '2019')&(df.mm == m)&(df.StationID == 'C0A9B0')].index
    df.drop(bd, inplace = True)

In [7]:
df[(df.yy == '2019') & (df.mm == '08') & (df.StationID == 'C0A9B0')]

,NewDate,NewHour,yy,mm,dd,ObsTime,StationID,Temperature,RH,WS,Precp,UVI
479352,2019-08-01,01:00:00,2019,08,01,1,C0A9B0,30.3,58,X,0.0,...
479353,2019-08-01,02:00:00,2019,08,01,2,C0A9B0,30.0,59,X,0.0,...
479354,2019-08-01,03:00:00,2019,08,01,3,C0A9B0,29.5,62,X,0.0,...
479355,2019-08-01,04:00:00,2019,08,01,4,C0A9B0,29.0,65,X,0.0,...
479356,2019-08-01,05:00:00,2019,08,01,5,C0A9B0,29.3,64,X,0.0,...
...,...,...,...,...,...,...,...,...,...,...,...,...
962395,2019-08-31,20:00:00,2019,08,31,20,C0A9B0,29.8,62,2.6,0.0,...
962396,2019-08-31,21:00:00,2019,08,31,21,C0A9B0,29.7,63,4.2,0.0,...
962397,2019-08-31,22:00:00,2019,08,31,22,C0A9B0,29.8,62,3.5,0.0,...
962398,2019-08-31,23:00:00,2019,08,31,23,C0A9B0,29.9,62,2.7,0.0,...
962399,2019-08-31,00:00:00,2019,08,31,24,C0A9B0,29.8,63,3.8,0.0,...

In [8]:
# 石牌測站 C0AI40 繼承 C0A9B0
# 捨棄 2019/09 以前的 C0AI40
year = ['2017','2018']
for i in year:
    bd1 = df[(df.yy == i) & (df.StationID == 'C0AI40')].index
    df.drop(bd1, inplace=True)
    
month = ['01','02','03','04','05','06','07','08']
for c in month:
    bd2 = df[(df.yy == '2019')&(df.mm == c)&(df.StationID == 'C0AI40')].index
    df.drop(bd2, inplace = True)

In [9]:
df[(df.yy == '2019') & (df.mm == '09') & (df.StationID == 'C0AI40')]

,NewDate,NewHour,yy,mm,dd,ObsTime,StationID,Temperature,RH,WS,Precp,UVI
446184,2019-09-01,01:00:00,2019,09,01,1,C0AI40,29.7,62,3.1,0.0,...
446185,2019-09-01,02:00:00,2019,09,01,2,C0AI40,29.6,63,2.4,0.0,...
446186,2019-09-01,03:00:00,2019,09,01,3,C0AI40,29.6,62,1.9,0.0,...
446187,2019-09-01,04:00:00,2019,09,01,4,C0AI40,29.4,64,1.7,0.0,...
446188,2019-09-01,05:00:00,2019,09,01,5,C0AI40,29.4,64,2.3,0.0,...
...,...,...,...,...,...,...,...,...,...,...,...,...
961267,2019-09-30,20:00:00,2019,09,30,20,C0AI40,24.8,79,7.5,4.5,...
961268,2019-09-30,21:00:00,2019,09,30,21,C0AI40,25.0,78,7.3,3.5,...
961269,2019-09-30,22:00:00,2019,09,30,22,C0AI40,24.1,82,4.5,8.5,...
961270,2019-09-30,23:00:00,2019,09,30,23,C0AI40,23.1,94,6.8,28.0,...
961271,2019-09-30,00:00:00,2019,09,30,24,C0AI40,23.4,95,10.5,22.5,...

In [10]:
# 將 C0AI40 測站改名為 C0A9B0
df.loc[df.StationID=='C0AI40','StationID']='C0A9B0'
df[df.StationID == 'C0A9B0']

,NewDate,NewHour,yy,mm,dd,ObsTime,StationID,Temperature,RH,WS,Precp,UVI
135552,2017-01-01,01:00:00,2017,01,01,1,C0A9B0,20.7,69,0.8,0.0,...
135553,2017-01-01,02:00:00,2017,01,01,2,C0A9B0,20.7,69,0.6,0.0,...
135554,2017-01-01,03:00:00,2017,01,01,3,C0A9B0,20.8,68,0.5,0.0,...
135555,2017-01-01,04:00:00,2017,01,01,4,C0A9B0,20.9,68,0.5,0.0,...
135556,2017-01-01,05:00:00,2017,01,01,5,C0A9B0,20.7,70,0.2,0.0,...
...,...,...,...,...,...,...,...,...,...,...,...,...
977059,2022-07-31,20:00:00,2022,07,31,20,C0A9B0,30.8,81,1.7,0.0,...
977060,2022-07-31,21:00:00,2022,07,31,21,C0A9B0,31.1,76,0.0,0.0,...
977061,2022-07-31,22:00:00,2022,07,31,22,C0A9B0,30.8,76,0.0,0.0,...
977062,2022-07-31,23:00:00,2022,07,31,23,C0A9B0,30.6,77,0.0,0.0,...
977063,2022-07-31,00:00:00,2022,07,31,24,C0A9B0,30.3,76,0.0,&,...

In [11]:
# 雨量缺失值為 T 者皆設為 0，因雨量累積小於 0.1 mm
df.loc[(df.Precp=='&'), 'Precp']='T'
df.loc[(df.Precp=='T'), 'Precp']='0.0'
# df[df.Precp > '3.0']
# df['Precp']

In [ ]:
# 雨量缺失值為 & 者皆設為 0
# df.loc[(df.Precp=='&')]='0.0'

In [26]:
# 雨量缺失值為 X 者皆設為該時段所有有效測站之平均數
df[(df.Precp == 'X')]

Empty DataFrame
Columns: [NewDate, NewHour, yy, mm, dd, ObsTime, StationID, Temperature, RH, WS, Precp, UVI]
Index: []

In [25]:
# df['ObsTime'] = pd.to_numeric(df['ObsTime'], errors='coerce') # 轉換 ObsTime 為數值型態
data = df[(df.Precp == 'X')] # 將雨量值為 X 的欄位存入另一個變數，裡面全部都是 X
dd = data['NewDate'].tolist() # 將 data 裡的 Date 依序取出製作成 list
do = data['ObsTime'].tolist() # 將 data 裡的 ObsTime 依序取出製作成 list

t = np.arange(0,88) # 雨量缺失值 X 共 88 筆資料
for i in t:
    mask1 = (df.NewDate == dd[i])
    mask2 = (df.ObsTime == do[i])
    mask3 = (df.Precp != 'X') & (df.Precp != '...') & (df.Precp != '/')
    nadf = df[mask1 & mask2 & mask3]
    av_pre = pd.to_numeric(nadf.Precp).sum()/(nadf.Precp.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
    round(av_pre, 1) # 將該平均數進位到小數點後第一位
    df.loc[mask1 & mask2 & (df.Precp == 'X'), 'Precp'] = round(av_pre, 1) # 填補缺失值

In [ ]:
# df['ObsTime'] = pd.to_numeric(df['ObsTime'], errors='coerce') # 轉換 ObsTime 為數值型態
# # C0A9C0
# h = np.arange(5,17)
# for n in h:
#     mask1 = (df.Date == '2021/03/02') # 這天的 C0A9C0 雨量有缺失值
#     mask2 = (df.ObsTime == n) 
#     mask3 = (df.Precp != 'X')
#     nadf = df[mask1 & mask2 & mask3]
#     av_pre = pd.to_numeric(nadf.Precp).sum()/(nadf.Precp.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
#     round(av_pre, 1) # 將該平均數進位到小數點後第一位
#     df.loc[mask1 & mask2 & (df.Precp == 'X'), 'Precp'] = round(av_pre, 1) # 填補缺失值

# # C0AC40
# h = np.arange(1,11)
# for n in h:
#     mask4 = (df.Date == '2019/09/08') # 這天的 C0A9C0 雨量有缺失值
#     mask5 = (df.ObsTime == n) # 分兩次寫因為時間格式關係
#     mask6 = (df.Precp != 'X')
#     nadf = df[mask4 & mask5 & mask6]
#     av_pre = pd.to_numeric(nadf.Precp).sum()/(nadf.Precp.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
#     round(av_pre, 1) # 將該平均數進位到小數點後第一位
#     df.loc[mask4 & mask5 & (df.Precp == 'X'), 'Precp'] = round(av_pre, 1) # 填補缺失值

# # C0AC40
# h = np.arange(1,25)
# for n in h:
#     mask4 = (df.Date == '2020/08/03') # 這天的 C0A9C0 雨量有缺失值
#     mask5 = (df.ObsTime == n) # 分兩次寫因為時間格式關係
#     mask6 = (df.Precp != 'X')
#     nadf = df[mask4 & mask5 & mask6]
#     av_pre = pd.to_numeric(nadf.Precp).sum()/(nadf.Precp.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
#     round(av_pre, 1) # 將該平均數進位到小數點後第一位
#     df.loc[mask4 & mask5 & (df.Precp == 'X'), 'Precp'] = round(av_pre, 1) # 填補缺失值

# # C0AC40
# h = np.arange(1,17)
# for n in h:
#     mask4 = (df.Date == '2020/08/04') # 這天的 C0A9C0 雨量有缺失值
#     mask5 = (df.ObsTime == n) # 分兩次寫因為時間格式關係
#     mask6 = (df.Precp != 'X')
#     nadf = df[mask4 & mask5 & mask6]
#     av_pre = pd.to_numeric(nadf.Precp).sum()/(nadf.Precp.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
#     round(av_pre, 1) # 將該平均數進位到小數點後第一位
#     df.loc[mask4 & mask5 & (df.Precp == 'X'), 'Precp'] = round(av_pre, 1) # 填補缺失值

# nadf = df[mask4 & mask5 & mask6]
# nadf

# # C0AC40
# h = np.arange(11,15)
# for n in h:
#     mask4 = (df.Date == '2021/01/15') # 這天的 C0A9C0 雨量有缺失值
#     mask5 = (df.ObsTime == n) # 分兩次寫因為時間格式關係
#     mask6 = ((df.Precp != 'X') & (df.Precp != '&'))
#     nadf = df[mask4 & mask5 & mask6]
#     av_pre = pd.to_numeric(nadf.Precp).sum()/(nadf.Precp.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
#     round(av_pre, 1) # 將該平均數進位到小數點後第一位
#     df.loc[mask4 & mask5 & (df.Precp == 'X'), 'Precp'] = round(av_pre, 1) # 填補缺失值

# # C0AC40
# h = np.arange(17,25)
# for n in h:
#     mask4 = (df.Date == '2021/01/26') # 這天的 C0A9C0 雨量有缺失值
#     mask5 = (df.ObsTime == n) # 分兩次寫因為時間格式關係
#     mask6 = ((df.Precp != 'X') & (df.Precp != '&'))
#     nadf = df[mask4 & mask5 & mask6]
#     av_pre = pd.to_numeric(nadf.Precp).sum()/(nadf.Precp.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
#     round(av_pre, 1) # 將該平均數進位到小數點後第一位
#     df.loc[mask4 & mask5 & (df.Precp == 'X'), 'Precp'] = round(av_pre, 1) # 填補缺失值

# # C0AC40
# h = np.arange(1,15)
# for n in h:
#     mask4 = (df.Date == '2021/01/27') # 這天的 C0A9C0 雨量有缺失值
#     mask5 = (df.ObsTime == n) # 分兩次寫因為時間格式關係
#     mask6 = ((df.Precp != 'X') & (df.Precp != '&'))
#     nadf = df[mask4 & mask5 & mask6]
#     av_pre = pd.to_numeric(nadf.Precp).sum()/(nadf.Precp.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
#     round(av_pre, 1) # 將該平均數進位到小數點後第一位
#     df.loc[mask4 & mask5 & (df.Precp == 'X'), 'Precp'] = round(av_pre, 1) # 填補缺失值

In [85]:
# 溫度缺失值為 X 者皆設為平均數
df[(df.WS == '...')]

,NewDate,NewHour,yy,mm,dd,ObsTime,StationID,Temperature,RH,WS,Precp,UVI
74736,2017-10-27,01:00:00,2017,10,27,1,C0AC70,18.8,80,...,0.0,...
74737,2017-10-27,02:00:00,2017,10,27,2,C0AC70,18.4,81,...,0.0,...
74738,2017-10-27,03:00:00,2017,10,27,3,C0AC70,19.6,80,...,0.0,...
74739,2017-10-27,04:00:00,2017,10,27,4,C0AC70,17.7,87,...,0.0,...
74740,2017-10-27,05:00:00,2017,10,27,5,C0AC70,18.2,79,...,0.0,...
...,...,...,...,...,...,...,...,...,...,...,...,...
977227,2022-07-31,20:00:00,2022,07,31,20,C1AC50,28.7,81,...,0.0,...
977228,2022-07-31,21:00:00,2022,07,31,21,C1AC50,28.0,83.0,...,0.0,...
977229,2022-07-31,22:00:00,2022,07,31,22,C1AC50,27.9,83.6,...,0.0,...
977230,2022-07-31,23:00:00,2022,07,31,23,C1AC50,27.7,94,...,0.0,...
977231,2022-07-31,00:00:00,2022,07,31,24,C1AC50,27.5,82.5,...,0.0,...

In [72]:
data = df[(df.RH == '/')] # 將雨量值為 X 的欄位存入另一個變數，裡面全部都是 X
dd = data['NewDate'].tolist() # 將 data 裡的 Date 依序取出製作成 list
do = data['ObsTime'].tolist() # 將 data 裡的 ObsTime 依序取出製作成 list

t = np.arange(0,4474) # 雨量缺失值 X 共 88 筆資料
for i in t:
    mask1 = (df.NewDate == dd[i])
    mask2 = (df.ObsTime == do[i])
    mask3 = (df.RH != 'X') & (df.RH != '...') & (df.RH != '/')
    nadf = df[mask1 & mask2 & mask3]
    av_pre = pd.to_numeric(nadf.RH).sum()/(nadf.RH.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
    round(av_pre, 1) # 將該平均數進位到小數點後第一位
    df.loc[mask1 & mask2 & (df.RH == '/'), 'RH'] = round(av_pre, 1) # 填補缺失值

In [74]:
df[(df.NewDate == '2022-07-31') & (df.StationID == 'C1AC50')]

,NewDate,NewHour,yy,mm,dd,ObsTime,StationID,Temperature,RH,WS,Precp,UVI
977208,2022-07-31,01:00:00,2022,07,31,1,C1AC50,26.1,85,...,0.0,...
977209,2022-07-31,02:00:00,2022,07,31,2,C1AC50,28.9,85,...,0.0,...
977210,2022-07-31,03:00:00,2022,07,31,3,C1AC50,26.2,93,...,0.0,...
977211,2022-07-31,04:00:00,2022,07,31,4,C1AC50,28.1,84,...,0.0,...
977212,2022-07-31,05:00:00,2022,07,31,5,C1AC50,25.8,99,...,0.0,...
977213,2022-07-31,06:00:00,2022,07,31,6,C1AC50,28.1,90.8,...,0.0,...
977214,2022-07-31,07:00:00,2022,07,31,7,C1AC50,27.1,87.0,...,0.0,...
977215,2022-07-31,08:00:00,2022,07,31,8,C1AC50,23.9,73,...,0.0,...
977216,2022-07-31,09:00:00,2022,07,31,9,C1AC50,32.2,74.6,...,0.0,...
977217,2022-07-31,10:00:00,2022,07,31,10,C1AC50,32.8,69.3,...,0.0,...
977218,2022-07-31,11:00:00,2022,07,31,11,C1AC50,30.7,59,...,0.0,...
977219,2022-07-31,12:00:00,2022,07,31,12,C1AC50,31.6,61,...,0.0,...
977220,2022-07-31,13:00:00,2022,07,31,13,C1AC50,31.5,67.2,...,0.0,...
977221,2022-07-31,14:00:00,2022,07,31,14,C1AC50,32.1,63.2,...,0.0,...
977222,2022-07-31,15:00:00,2022,07,31,15,C1AC50,34.1,58,...,0.0,...
977223,2022-07-31,16:00:00,2022,07,31,16,C1AC50,31.3,64.2,...,0.0,...
977224,2022-07-31,17:00:00,2022,07,31,17,C1AC50,31.4,64.8,...,0.0,...
977225,2022-07-31,18:00:00,2022,07,31,18,C1AC50,30.1,70.9,...,0.0,...
977226,2022-07-31,19:00:00,2022,07,31,19,C1AC50,29.2,76.7,...,0.0,...
977227,2022-07-31,20:00:00,2022,07,31,20,C1AC50,28.7,81,...,0.0,...
977228,2022-07-31,21:00:00,2022,07,31,21,C1AC50,28.0,83.0,...,0.0,...
977229,2022-07-31,22:00:00,2022,07,31,22,C1AC50,27.9,83.6,...,0.0,...
977230,2022-07-31,23:00:00,2022,07,31,23,C1AC50,27.7,94,...,0.0,...
977231,2022-07-31,00:00:00,2022,07,31,24,C1AC50,27.5,82.5,...,0.0,...

In [61]:
df[(df.Temperature == '/')]

Empty DataFrame
Columns: [NewDate, NewHour, yy, mm, dd, ObsTime, StationID, Temperature, RH, WS, Precp, UVI]
Index: []

In [ ]:
dataTp = df[(df.WS == '...')]
dd = dataTp['NewDate'].tolist()
do = dataTp['ObsTime'].tolist()
# print(dd[47676])
# print(do[47676])
# dataTp['Temperature'].info()

t = np.arange(0,50330)
for i in t:
    mask1 = (df.NewDate == dd[i])
    mask2 = (df.ObsTime == do[i])
    mask3 = (df.WS != '...') & (df.WS != '/') & (df.WS != 'X')
    nadf = df[mask1 & mask2 & mask3]
    temp = nadf.loc[:,'WS']
    temp = pd.to_numeric(temp, errors='coerce') # 轉數值型態才不會報錯(非數值型態無法做排序)
    array = np.array(temp) # 將不是 '...' 的溫度欄位做成陣列
    vals,counts = np.unique(array, return_counts=True) # 將唯一值儲存在 vals 陣列中
    index = np.argmax(counts)
    if index == 0: # 代表沒有重複的值可以做為眾數
        av_pre = pd.to_numeric(nadf.WS).sum()/(nadf.WS.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
        round(av_pre, 1) # 將該平均數進位到小數點後第一位
        df.loc[mask1 & mask2 & (df.WS == '...'), 'WS'] = round(av_pre, 1) # 以平均數填補缺失值
    else:
        df.loc[mask1 & mask2 & (df.WS == '...'), 'WS'] = vals[index] # 以眾數填補缺失值

In [ ]:
import os
# 寫入
path = 'C:/Users/User/final_program/data_analysis'
if not os.path.isdir(path):
    os.makedirs(path)
df.to_csv(path + '/WC.csv',index=False)

In [ ]:
df = pd.read_csv('Weather_C_mid.csv')

In [ ]:
df[(df.UVI == '&')]

In [ ]:
df

In [ ]:
dataTp = df[(df.WS == '/')]
dd = dataTp['Date'].tolist()
do = dataTp['ObsTime'].tolist()
# print(dd[47676])
# print(do[47676])
# dataTp['Temperature'].info()

# t = np.arange(0,29449)
# for i in t:
#     mask1 = (df.Date == dd[i])
#     mask2 = (df.ObsTime == do[i])
#     mask3 = (df.WS != '...') & (df.WS != '/') & (df.WS != 'X')
#     nadf = df[mask1 & mask2 & mask3]
#     temp = nadf.loc[:,'WS']
#     temp = pd.to_numeric(temp, errors='coerce') # 轉數值型態才不會報錯(非數值型態無法做排序)
#     array = np.array(temp) # 將不是 '...' 的溫度欄位做成陣列
#     vals,counts = np.unique(array, return_counts=True) # 將唯一值儲存在 vals 陣列中
#     index = np.argmax(counts)
#     if index == 0: # 代表沒有重複的值可以做為眾數
#         av_pre = pd.to_numeric(nadf.WS).sum()/(nadf.WS.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
#         round(av_pre, 1) # 將該平均數進位到小數點後第一位
#         df.loc[mask1 & mask2 & (df.WS == '...'), 'WS'] = round(av_pre, 1) # 以平均數填補缺失值
#     else:
#         df.loc[mask1 & mask2 & (df.WS == '...'), 'WS'] = vals[index] # 以眾數填補缺失值

t = np.arange(0,4631) # 雨量缺失值 X 共 88 筆資料
for i in t:
    mask1 = (df.Date == dd[i])
    mask2 = (df.ObsTime == do[i])
    mask3 = (df.WS != 'X') & (df.WS != '...') & (df.WS != '/')
    nadf = df[mask1 & mask2 & mask3]
    av_pre = pd.to_numeric(nadf.WS).sum()/(nadf.WS.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
    round(av_pre, 1) # 將該平均數進位到小數點後第一位
    df.loc[mask1 & mask2 & (df.WS == '/'), 'WS'] = round(av_pre, 1) # 填補缺失值

In [ ]:
df.rename(columns={'Date': 'NewDate'}, inplace=True)
df

In [ ]:
df['NewDate'] = df['NewDate'].str.replace('/', '-')
df

In [ ]:
df = df.reindex(columns = ['NewDate','NewHour','StationID','Temperature','RH','WS','Precp','UVI'])
df

In [ ]:
d = df[(df.Date == '2017/01/13') & (df.ObsTime == 14.0) & (df.Temperature != '...')]
d
# array = np.array(d['Temperature'])
# vals,counts = np.unique(array, return_counts=True)
# index = np.argmax(counts)
# # print(vals[index])
# index

In [ ]:
# d
# array
# np.argmax(counts)
print(index)
print(vals)
print(counts)

In [ ]:
# C0A9C0, 2017/02/20, 15 
# C0A9F0, 2017/01/13, 14

date = '2017/01/13'
mask1 = (df.Date == date)
mask2 = (df.ObsTime == 14)
mask3 = (df.Temperature != 'X') & (df.Temperature != '...')
nadf = df[mask1 & mask2 & mask3]
av_pre = pd.to_numeric(nadf.Temperature).sum()/(nadf.Temperature.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
round(av_pre, 1) # 將該平均數進位到小數點後第一位
df.loc[mask1 & mask2 & (df.Temperature == 'X'), 'Temperature'] = round(av_pre, 1) # 填補缺失值

In [ ]:
# df[df.ObsTime == 1]
# C0AC40

hour = np.arange(1,25)
for o in hour:
    mask4 = (df.Date == '2020/08/03') # 這天的 C0AC40 雨量有缺失值
    mask5 = (df.ObsTime == o) # 分兩次寫因為時間格式關係
    mask6 = (df.Precp != 'X')
    nadf = df[mask4 & mask5 & mask6]
    av_pre = pd.to_numeric(nadf.Precp).sum()/(nadf.Precp.count()) # 先將所有有效測站該時段的值轉換為數字型態，進行加總，算出平均數
    round(av_pre, 1) # 將該平均數進位到小數點後第一位
    df.loc[mask4 & mask5 & (df.Precp == 'X'), 'Precp'] = round(av_pre, 1) # 填補缺失值

In [ ]:
# np.average(nadf.Precp)
# pd.to_numeric(nadf.Precp).sum()/(nadf.Precp.count())
nadf.Precp.count()
pd.to_numeric(nadf.Precp).sum()
round(av_pre, 1)

In [ ]:
if (df.Precp == 'X')

In [ ]:
df[(df.Precp=='...')]

In [ ]:
# 觀察資料
type(df)
df.info()

In [ ]:
# df['Temperature'].dtypes

In [ ]:
# print(pd.to_numeric(df['Temperature'], errors='coerce'))

In [ ]:
df.iloc[:,6:11]

In [ ]:
# 為了要能正確偵測到缺失值，必須將資料型態轉換為數值
# df['Temperature'] = pd.to_numeric(df['Temperature'], errors='coerce') # 溫度
# df['RH'] = pd.to_numeric(df['RH'], errors='coerce') # 相對溼度
# df['WS'] = pd.to_numeric(df['WS'], errors='coerce') # 風速
# df['Precp'] = pd.to_numeric(df['Precp'], errors='coerce') # 降雨量
# df['UVI'] = pd.to_numeric(df['UVI'], errors='coerce') # 紫外線指數

# decouple version
for n in df.iloc[:,6:11]:
    df[n] = pd.to_numeric(df[n], errors='coerce')

In [ ]:
df.info()

In [ ]:
df.isna().sum()
# 總 na 數為 2034605

In [ ]:
df.head()

In [ ]:
df['StationID'].to_string()
df.info()

In [ ]:
# 處理多餘的觀測資料(只有雨量的站點）
dfc = df[df.StationID == 'C1A730']
dfc.isna().sum()
# na = 221918

dfci = df[df.StationID == 'C1AI50']
dfci.isna().sum()
# na = 231428

dfcii = df[df.StationID == 'C1AC50']
dfcii.isna().sum()
# na = 196652 
# 649998

In [ ]:
dfc = df[df.StationID == 'C1A730'].index
dfci = df[df.StationID == 'C1AI50'].index
dfcii = df[df.StationID == 'C1AC50'].index
dfcii

In [ ]:
# df.drop(dfc, inplace=True)
# df.drop(dfci, inplace=True)
# df.drop(dfcii, inplace=True)
df.isnull().sum()
df

In [ ]:
df[df.UVI>10]

In [ ]:
df[df.Precp=='&']